<a href="http://www.openstreetmap.org/copyright"
  >© OpenStreetMap contributors</a
>
<a href="http://openmaptiles.org/">© OpenMapTiles</a>
<a href="https://carto.com">© CARTO</a>
<a href="https://numerique.sncf.com/startup/api/"
  >© SNCF – Open Data SNCF API</a
>
<a href="https://www.huwise.com/">© Huwise</a>
<a
  href="https://www.data.gouv.fr/datasets/un-siecle-de-gares-du-reseau-ferroviaire-francais-en-service-fermees-ou-disparues"
  >(ODbL 1.0) Datasets in Datagouv</a
>
by
<a href="https://www.data.gouv.fr/users/robert-jeansoulin">Robert Jeansoulin</a>
